@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";

$omf-purple: #9356DC;
$omf-pink: #FF79DA;
$omf-green: #99E2D0;
$omg-dark-green: #008766;
$omf-light-grey: #F6F6F6;
$omf-mid-grey: #EAEAEA;
$omf-dark-grey: #353535;
$top-gradient: linear-gradient(to top, $omf-purple, $omf-pink);
$bottom-gradient: linear-gradient(to bottom, $omf-purple, $omf-pink);

@mixin button {
  background: $top-gradient;
  box-shadow: 0px 4px 15px 0px #00000059;
  border-radius: 50px;
  border: none;
  span {
    display: flex;
    font-size: 16px;
    color: white;
    text-align: center;
    margin: 17px;
  }
  &:hover {
  opacity:0.85
}
}

@mixin h1 {
display: flex;
font-size: 24px;
font-weight: 700;
margin: 0;
}

@mixin card {
  box-shadow: 0px 4px 15px 0px #00000059;
  border-radius: 25px;
  border: none;
}

@mixin tag {
z-index: 3;
border: none;
position: absolute;
span {
  font-weight: 500;
  // si span est empty alors display : none ? //
}
}

@mixin center {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

* {
  font-family: "roboto";
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;

.main-container {
  width: 100%;
  box-sizing: border-box;

 header {
  .logo {
@include center;
background-color: white;
position: relative;
z-index: 2;
box-shadow: 0 2px 4px 0 #00000026;
@media (min-width: 1281px) and (max-width: 1440px) {
  box-shadow: none;
}
.logo__image {
max-height: 35px;
padding: 14px 0;
@media (min-width: 1281px) and (max-width: 1440px) {
  padding: 30px 0;
}
}
}

  .location {
@include center;
background-color: #EAEAEA;
color: $omf-dark-grey;
position: relative;
z-index: 1;
box-shadow: 0 4px 4px 0 #00000040;
@media (min-width: 1281px) and (max-width: 1440px) {
  box-shadow: none;
}
  .location__icon {
padding-right: 18px;
  }
  .location__txt {
  font-weight: 500;
  }
  }
 }

main {
 .explore {
  flex-direction: column;
  @include center;
  background-color: $omf-light-grey;
  padding: 45px 30px;
  @media (min-width: 1281px) and (max-width: 1440px) {
  padding: 30px 30px;
  }
 .explore__title {
  padding: 0 10px;
  @include h1;
  @media (min-width: 1281px) and (max-width: 1440px) {
    font-size: 40px;
    margin-bottom: 15px;
  }
  }
  .explore__txt {
    color: $omf-dark-grey;
    font-weight: 300;
  }
 .explore__btn {
  @include button;
  @media (min-width: 375px) and (max-width: 1280px) {
    margin: 15px 0;
    }
  @media (min-width: 1281px) and (max-width: 1440px) {
    margin-top: 15px;
    }
  }
  }

  .howto {
    padding: 50px 22px;
    @media (min-width: 1281px) and (max-width: 1440px) {
      padding: 50px 180px;
      }
    .howto__title {
      @include h1;
      margin-bottom: 1rem;
      }
    .howto__card-list {
    display: grid;
    flex-direction: column;
    padding-left: 10px;
    @media (min-width: 1281px) and (max-width: 1440px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .howto__card {
      position: relative;
      @include card;
      width: 323px;
      background-color: $omf-light-grey;
      box-shadow: 0 4px 15px 0 #00000026;
      margin: 12px 0;
      .howto__order {
        @include center;
        @include tag;
        height: 24px;
        width: 24px;
        background-color: $omf-purple;
        border-radius: 50px;
        margin-top: 28px;
        margin-left: -12px;
        span {
          color: white;
          font-size: 14px;
          margin: 0;
        }
      }
      .howto__card-content {
      display: flex;
      align-items: center;
      .howto__card-icon {
        color: #7E7E7E;
        margin-left: 35px;
      }
      .fa-store {
        color: $omf-purple !important;
      }
        .howto__card-txt {
      font-weight: 500;
      padding: 15px;
      margin-left: 10px;
      }
      }

    }
  }
}

  .restaurants {
  background-color: $omf-light-grey;
  padding: 50px 20px;
  @media (min-width: 1281px) and (max-width: 1440px) {
    padding: 30px 180px;
    }
  .restaurants__title {
  @include h1;
  margin-bottom: 10px;
  @media (min-width: 1281px) and (max-width: 1440px) {
    margin-bottom: 15px;
    }
}
  .restaurants__card-list {
  display: flex;
  flex-direction: column;
  @media (min-width: 1281px) and (max-width: 1440px) {
  display: grid;
    grid-template-columns: 45% 45%;
    justify-items: center;
    justify-content: space-between;
    gap: 30px;
    }
  .restaurants__card {
    position: relative;
    @include card;
    box-shadow: 0 4px 15px 0 #0000001A;
    margin: 9px 0;
    @media (min-width: 1281px) and (max-width: 1440px) {
    width: 490px;
      }
    .restaurants__card-tag {
      @include tag;
      font-size: 14px;
      text-align: center;
      align-content: center;
      background-color: $omf-green;
      color: $omg-dark-green;
      width: 80px;
      height: 30px;
      border-radius: 4px;
      margin-left: 225px;
      margin-top: 15px;
      @media (min-width: 1281px) and (max-width: 1440px) {
        margin-left: 395px;
        margin-top: 15px;
          }
    }
    .restaurants__card-img {
      @include center;
      object-fit: cover;
      width: 100%;
      height: 150px;
      border-radius: 20px 20px 0 0;
    }
    .restaurants__card-content {
    .restaurants__card-txt {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
    padding: 10px 15px;
    }
    .restaurants__card-title {
    font-weight: 700;
    margin: 2px 0;
    }
    .restaurants__card-detail {
      font-weight: 300;
      margin: 2px 0;
    }
    .restaurants__card-icon {
    display: flex;
    @include center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
     }
    }
  }
}
  }
}

footer {
  padding: 25px 30px;
  background-color: $omf-dark-grey;
  color: white;
  @media (min-width: 1281px) and (max-width: 1440px) {
    display: flex;
  flex-direction: row-reverse;
  align-items: center;
    }
.footer__logo {
  font-family: "shrikhand";
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  @media (min-width: 1281px) and (max-width: 1440px) {
padding-left: 100px;
    }
}
.footer {
  padding-top: 15px;
  display: grid;
  @media (min-width: 1281px) and (max-width: 1440px) {
    display: flex;
      flex-direction: row;
      padding-top: 0;
    }
  .footer__link {
    padding: 4px 0;
    @media (min-width: 1281px) and (max-width: 1440px) {
      display: flex;
      padding: 0 15px;
      }
  }
  .footer__link-highlight {
    display: grid;
    grid-template-columns: 10% 90%;
    font-weight: 500;
    padding: 4px 0;
    i {
      grid-column: 1/ 2;
      @media (min-width: 1281px) and (max-width: 1440px) {
        display: flex;
          flex-direction: row;
          padding: 0 10px;
        }
    }
    @media (min-width: 1281px) and (max-width: 1440px) {
      display: flex;
        flex-direction: row;
        padding: 0 10px;
      }
  }

}
}

}
}
